<%= form_tag "/update_account", method: "post",
                                class: "account_form",
                                multipart: true,
						                    enctype: "multipart/form-data" do |form| %>
  <%= hidden_field_tag "user[login]", @user.login %>
  <div class="col-sm-12">
    <div class="avatar_container">
      <%= image_tag @user.avatar.exists? ? @user.avatar.url : "empty_avatar.png" , class: "avatar" %>
      <%= file_field_tag "user[avatar]", accept: "image/png,image/gif,image/jpeg", class: "file_input" %>
    </div>
    <div class="fields_container">
      <div class="row">
        <%= text_field_tag "user[name]", @user.name, class: "form-control slovaris_control",
                                                     autocomplete: "off",
                                                     style: "width: 300px",
                                                     placeholder: User.human_attribute_name(:name) %>
        <%= text_field_tag "user[surname]", @user.surname, class: "form-control slovaris_control",
                                                           autocomplete: "off",
                                                           style: "width: 300px",
                                                           placeholder: User.human_attribute_name(:surname) %>
        <%= text_field_tag "user[patronymic]", @user.patronymic, class: "form-control slovaris_control",
                                                                 autocomplete: "off",
                                                                 style: "width: 300px",
                                                                 placeholder: User.human_attribute_name(:patronymic) %>
      </div>
      <div class="row">
        <%= select_tag "user[gender]", options_for_select(User.genders.map { |key, value| [t(key, scope: [:enums]), key] } ),
                                       class: "form-control slovaris_control",
                                       style: "width: 300px" %>
        <%= text_field_tag "user[birthday]", "", class: "form-control slovaris_control",
                                                 autocomplete: "off",
                                                 type: "tel",
                                                 style: "width: 300px",
                                                 placeholder: User.human_attribute_name(:birthday) %>
      </div>
      <div class="row">
        <%= submit_tag t(:update_account, scope: @i18n_scope), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
