<h3> <%= t(:edit, scope: @i18n_scope) %></h3>
<%= form_tag "/dictionary/dictionaries/#{@dictionary.id}", method: "put",
                                                           class: "col-sm-12 slovaris_form",
                                                           multipart: true,
                            						                   enctype: "multipart/form-data" do |form| %>
  <%= render partial: "form" %>
  <div class="row col-sm-10">
    <%= submit_tag t(:save, scope: @i18n_scope), class: "btn btn-primary" %>
    <%= link_to t(:cancel, scope: @i18n_scope), :back, class: "btn" %>
  </div>
<% end %>
