<h3> <%= t(:new, scope: @i18n_scope) %></h3>
<%= form_tag "/dictionary/dictionaries", method: "post",
                                         class: "col-sm-12 slovaris_form" do |form| %>
  <%= render partial: "form" %>
  <div class="row col-sm-10">
    <%= submit_tag t(:create, scope: @i18n_scope), class: "btn btn-primary" %>
    <%= link_to t(:cancel, scope: @i18n_scope), :back, class: "btn" %>
  </div>
<% end %>
