<h2><%= t(:login_title, scope: @i18n_scope) %></h2>

<%= form_tag "/api/users/sessions", method: "post", class: "session_form" do |form| %>
  <div class="auth_form_content">
    <div class="auth_fields_container">
      <%= text_field_tag "user[login]", "", class: "form-control",
                                            placeholder: t(:login_placeholder, scope: @i18n_scope),
                                            autofocus: "autofocus",
                                            autocomplete: "off",
                                            type: "email" %>
      <%= text_field_tag "user[password]", "", class: "form-control",
                                               type: "password",
                                               autocomplete: "off",
                                               placeholder: t(:password_placeholder, scope: @i18n_scope)%>
    </div>
    <div class="remember_me_container">
      <%= check_box_tag "user[remember_me]", "1", false, checked: "checked" %>
      <%= label_tag "user[remember_me]", I18n.t(:remember_me, scope: @i18n_scope), class: "control-label" %>
    </div>
    <div class="submit_container">
      <%= submit_tag t(:sign_in_button, scope: @i18n_scope), class: "btn btn-primary" %>
    </div>
    <div class="links_container">
      <%= link_to t(:sign_up_link, scope: @i18n_scope), "/sign_up", :'data-turbolinks' => "true" %>
    </div>
  </div>
<% end %>
